<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DBconnect</servlet-name>
        <servlet-class>CFM.DBconnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEventServlet</servlet-name>
        <servlet-class>CollegeFestManagementPack.AddEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUser</servlet-name>
        <servlet-class>CollegeFestManagementPack.LogoutUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addParticipation</servlet-name>
        <servlet-class>CollegeFestManagementPack.addParticipation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBconnect</servlet-name>
        <url-pattern>/DBconnect</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginPageServlet</servlet-name>
        <servlet-class>CollegeFestManagementPack.LoginPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/LoginPageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterPage</servlet-name>
        <servlet-class>CollegeFestManagementPack.RegisterPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/LoginPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPage</servlet-name>
        <url-pattern>/RegisterPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEventServlet</servlet-name>
        <url-pattern>/AddEventServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>MainScreen.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LogoutUser</servlet-name>
        <url-pattern>/LogoutUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addParticipation</servlet-name>
        <url-pattern>/addParticipation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
