/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2017, 10:07:31 PM
    Author     : kisha
*/
body{
                 background-image: url("Pictures/background.jpg");
}
#main{
	margin-left:35%;
	width:450px;
        padding-bottom: 120px;
        padding-right: 20px;
        margin-top: 70px;
        border:1px solid black;
        border-radius: 20px;
        box-shadow: 10px 10px 5px #888888;
}
	
	input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
	
.gender{
		margin-left:50px;
		margin-bottom:15px;
		margin-top:15px;
}
.usertype{
		margin-bottom:10px;
		margin-top:10px;
		margin-left:67px;
}
	
